@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 0 0% 0%;

      --card: 210 40% 94%;
      --card-foreground: 0 0% 0%;

      --popover: 210 40% 94%;
      --popover-foreground: 0 0% 0%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 94%;
      --secondary-foreground: 0 0% 60%;

      --muted: 210 40% 94%;
      --muted-foreground:  0 0% 50%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.25rem;

      --header-height: 80px;
      --footer-height: 60px;

      --inflight: 43 97% 59%;
      --success: 105 63% 62%;
      --failure: 0 100% 71%;

      --skeleton: 240 4.8% 95.9%;
      /* --skeleton: 210 20% 96%; */


    }

    .dark {
      --background: 0 0% 0%;
      --foreground: 0 0% 100%;

      --card: 0 0 8.63%;
      --card-foreground: 0 0% 100%;

      --popover: 0 0 8.63%;
      --popover-foreground: 0 0% 100%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary:0 0 8.63%;
      --secondary-foreground: 0 0% 60%;

      --muted: 0 0 8.63%;
      --muted-foreground: 0 0% 50%;

      --accent: 0 0 15%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 0 0% 16.47%;
      --input: 0 0 8.63%;
      --ring:0 0 30%;

      --skeleton: 240 3.7% 15.9%;

    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }


  @keyframes ellipsis {
    0%, 20% {
      content: '';
    }
    40% {
      content: '.';
    }
    60% {
      content: '..';
    }
    80%, 100% {
      content: '...';
    }
  }
  
  .animate-ellipsis::after {
    content: '';
    animation: ellipsis 1.5s infinite;
  }
  